<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="POST">
                    {% csrf_token %}
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" id="id_username" maxlength="150" required>
                    <br>
                    <br>
                    <label for="id_password1">Password:</label>
                    <input type="password"
                           name="password"
                           id="id_password1"
                           maxlength="150"
                           required>
                    <br>
                    <br>
                    <label for="id_password2">Password Confirmation:</label>
                    <input type="password"
                           name="password_confirmation"
                           id="id_password2"
                           maxlength="150"
                           required>
                    <br>
                    <br>
                    <button type="submit">Signup</button>
                </form>
            </div>
        </main>
    </body>
</html>
